<h3 class="center"> {{name}} </h3>
<div class="traffic-light">
    <div class="light-outer">
        <div class="first-light-decorate"></div>
        <div class="light-inner">
            <div class="light" [ngClass]="{'red': state === 'red', 'off': state !== 'red'}"> </div>
        </div>
        <div class="top-shade top-shade-left"></div>
        <div class="top-shade top-shade-right"></div>
    </div>
    <div class="light-outer">
        <div class="light-inner">
            <div class="light" [ngClass]="{'yellow': state === 'yellow', 'off': state !== 'yellow'}"></div>
        </div>
        <div class="top-shade top-shade-left"></div>
        <div class="top-shade top-shade-right"></div>
    </div>
    <div class="light-outer">
        <div class="light-inner">
            <div class="light" [ngClass]="{'green': state === 'green', 'off': state !== 'green'}"> </div>
        </div>
        <div class="top-shade top-shade-left"></div>
        <div class="top-shade top-shade-right"></div>
    </div>
</div>
