<h3 class="center"> {{name}} </h3>
<div class="traffic-light">
    <div class="light-outer">
        <div class="first-light-decorate"></div>
        <div class="light-inner">
            <div class="light light-red"> </div>
        </div>
        <div class="top-shade top-shade-left"></div>
        <div class="top-shade top-shade-right"></div>
    </div>
    <div class="light-outer">
        <div class="light-inner">
            <div class="light light-yellow"></div>
        </div>
        <div class="top-shade top-shade-left"></div>
        <div class="top-shade top-shade-right"></div>
    </div>
    <div class="light-outer">
        <div class="light-inner">
            <div class="light light-green"> </div>
        </div>
        <div class="top-shade top-shade-left"></div>
        <div class="top-shade top-shade-right"></div>
    </div>
</div>
